joc.dtd

<!ELEMENT joc (titol, companyia, plataforma, anyLlançament, personatges)>
<!ELEMENT personatges (personatge)>
<!ELEMENT personatge (nom, rol)>
<!ELEMENT titol (#PCDATA)>
<!ELEMENT companyia (#PCDATA)>
<!ELEMENT plataforma (#PCDATA)>
<!ELEMENT anyLlançament (#PCDATA)>
<!ELEMENT nom (#PCDATA)>
<!ELEMENT rol (#PCDATA)>