joc2.dtd

<!ELEMENT joc (titol, companyia, plataforma, anyLlançament, personatges, nivells)>
<!ELEMENT titol (#PCDATA)>
<!ELEMENT companyia (#PCDATA)>
<!ELEMENT plataforma (#PCDATA)>
<!ELEMENT anyLlançament (#PCDATA)>
<!ELEMENT personatges (personatge)>
<!ELEMENT personatge (nom)>
<!ELEMENT nom (#PCDATA)>
<!ELEMENT nivells (nivell)>
<!ELEMENT nivell (nom)>
<!ELEMENT nom (#PCDATA)>


